%div
  %p 
    Srsly is an open source URL shortening thing. 
    = "It's running Sinatra " + Sinatra::VERSION
  %p 
    Code is available on
    %a{:href => 'http://github.com/boredomist/srsly'} GitHub
