!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title srsly
    %meta{:'http-equiv'=> "Content-type", :content => "text/html;charset=UTF-8"}
    %link{"rel" => "stylesheet", "href" => "/stylesheet.css", "type" => "text/css"}
  %body
    %div{:id => 'container', :class => 'round'}
      %h1 Srsly?
      = yield
      #footer
        %a{:href=>'/', :class=>'roundSmall'} Home
        %a{:href=>'/about', :class=>'roundSmall'} About
        %a{:href=>'/view', :class=>'roundSmall'} View
        %a{:href=>'http://github.com/boredomist/srsly', :class=>'roundSmall'} Code
        
