$offwhite: #ddd;
$bodycolor: #333;
$contcolor: #444;

body {
  background-color: $bodycolor;
  color: $offwhite;
  font-family: sans-serif;
}

#body {
  width: 700px;
  position: fixed;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#container {
  #header {
    margin-top: 10px;
  }
  
  #footer {
    padding-top: 15px;
    padding: 10px;
  }

  background-color: $contcolor;

  width: 700px;
  text-align: center;
  position: absolute;
  top: 40%;


  padding: 0px 10px 10px 10px;

  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);

  h1 {
    font-size: 24px;
  }

}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius:10px;
}

.roundSmall {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a {
  color: $offwhite;
  text-decoration: none;
}

a:active, a:hover {
  background-color: $offwhite;
  color: $bodycolor;
}
