$offwhite: #ddd;
$bodycolor: #333;
$contcolor: #444;

body {
  background-color: $bodycolor;
  color: $offwhite;
  font-family: sans-serif;
}

#container {
  background-color: $contcolor;

  text-align: center;

  width: 700px;
  height: 125px;

  /* center horizontally and vertically */
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  padding: 0px 10px 10px 10px;

  h1 {
    font-size: 24px;
  }

}

#footer {
  padding-top: 15px;
  padding: 20px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius:10px;
}

.roundSmall {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a {
  color: $offwhite;
  text-decoration: none;
}

a:active, a:hover {
  background-color: $offwhite;
  color: $bodycolor;
}
